[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
hspy = "*"
imageio = "*"
imagesize = "*"
lxml = "*"
opencv-python = "*"
requests = "*"
numpy = "*"
pandas = "*"
scipy = "*"
tensorboard = "*"
tensorflow-estimator = "*"
tensorflow = "*"
seaborn = "*"
multimodal-keras-wrapper = "*"
recipe-scrapers = "*"
Sphinx = "*"
Keras = "*"
Keras-Applications = "*"
Keras-Preprocessing = "*"
nltk = "*"
opencv-contrib-python = "*"
uvicorn = "*"
text2num = "*"
google-cloud-vision = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
