[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cachetools = "==3.1.1"
certifi = "==2019.11.28"
cffi = "==1.14.0"
chardet = "==3.0.4"
cryptography = "==2.8"
google-api-core = "==1.16.0"
google-auth = "==1.12.0"
google-cloud-vision = "==0.38.1"
googleapis-common-protos = "==1.51.0"
grpcio = "==1.23.0"
idna = "==2.9"
pytz = "==2019.3"
requests = "==2.23.0"
rsa = "==4.0"
six = "==1.14.0"
urllib3 = "==1.25.7"
PySocks = "==1.7.1"
flask = "*"
beautifulsoup4 = "*"
flask-cors = "*"
flask-caching = "*"
python-decouple = "*"

[requires]
python_version = "3.7"
