-i https://pypi.org/simple

fastapi

hSpy
imageio
imagesize
lxml
opencv-python
requests
numpy
pandas
scipy
sphinx
tensorboard
tensorflow-estimator
tensorflow
seaborn

keras
keras-applications
keras-preprocessing
multimodal-keras-wrapper

recipe_scrapers
re
