-i https://pypi.org/simple

fastapi
uvicorn
text2num

hSpy
imageio
imagesize
lxml
opencv-python
requests
numpy
pandas
scipy
sphinx
tensorboard
tensorflow-estimator
tensorflow
seaborn

multimodal-keras-wrapper
keras
keras-applications
keras-preprocessing

recipe_scrapers
nltk
beautifulsoup4
wandb
